<main>
  <div class="container">
    <div class="row">
      <div class="ml-12 mt-2">
        <h2>
          <i class="fa-solid fa-user-plus"></i>
          <strong>
            Sign up
          </strong>
        </h2>

      <%= form_with model: @user,url: user_registration_path do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-2 mt-2">
        <i class="fa-solid fa-user-pen"></i>
        <strong>
          <%= f.label :name %></br>
        </strong>
        <%= f.text_field :name %>
      </div>

      <div class="field mb-2">
        <i class="fa-solid fa-envelope"></i>
        <strong>
          <%= f.label :email %><br />
        </strong>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mb-2">
        <i class="fa-solid fa-key"></i>
        <strong>
          <%= f.label :password %>
        </strong>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mb-2">
        <i class="fa-solid fa-key"></i>
        <strong>
          <%= f.label :password_confirmation %><br />
        </strong>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-sm btn-success" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</main>