<%= render 'books/info' %>
<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'books/list', user: @user %>
      <div class="col-md-8 offset-md-1">
        <h2>
          <i class="fa-solid fa-book-tanakh"></i>
          <strong>
            Users
          </strong>
        </h2>
        <table class="table">
          <thead>
            <tr>
              <th>
                <strong>image</strong>
              </th>
              <th>
                <strong>name</strong>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @admins.each do |a| %>
            <tr>
              <td>
                <%= link_to user_path(a) do %>
                  <%= image_tag a.get_profile_image(100,100) %>
                <% end %>
              </td>
              <td><%= a.name %></td>
              <td><%= link_to 'Show', user_path(a) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>