<%= render 'books/info' %>
<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'books/list', user: @user %>
      <div class="col-md-8 offset-md-1">
        <h2>
          <i class="fa-solid fa-book-tanakh"></i>
          <strong>
            Book detail
          </strong>
        </h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= image_tag @u_image.get_profile_image(100,100), class: "border mb-2" %>
                <%= link_to @books.user.name, user_path(@books.user.id) %>
              </td>
              <td><%= link_to @books.title, book_path(@books) %></td>
              <td><%= @books.body %></td>
              <% if @books.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@books), class: "btn btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@books), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>